.stages{
    margin: auto;
    padding: 50px 0;
    @include desktop-only{
      display: flex;
      flex-wrap: wrap;
    }
  
    &__title {
      font-size: 1.5em;
      width: 90%;
      margin: 0 auto 30px;
    }
  
    &__item {
      width: 90%;
      margin: 0 auto 25px;
      display: flex;
      justify-content: center;
      @include desktop-only{
        width: 28%;
        margin: 10px auto 25px;
        justify-content: flex-start;
      }
      
      &Nb {
        position: absolute;
  
        >p.stage-nb {
          position: relative;
          top: 5px;
          right: 175px;
          background-color: $color-primary;
          color: #fff;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          font-size: 1em;
          display: flex;
          justify-content: center;
          line-height: 1.7em;
          @include desktop-only{
            right: 50%;
          }
        }
      }
  
      &Btn{
        width: 350px;
        height: 70px;
        display: flex;
        align-items: center;
        background-color: $grey-color;
        border-radius: 20px;
        box-shadow: 0px 3px 10px rgb(204, 203, 203);
        transition: all 0.7s;
  
        &:hover {
          background-color: lighten($color-primary, 35%);
  
          >i{
            color: $color-primary;
          }
        }
  
        >i {
          color: rgb(109, 106, 106);
          font-size: 1.2em;
          width: 40px;
          margin-left: 35px;
        }
  
        p.stage-txt {
          font-weight: bold;
        }
      }
    }
  }
