/*Partie localisation des restaurants*/
/*Devra être éditable afin de trouver des restaurants proches d’un certain lieu*/

.location{
   background-color: rgb(228, 228, 228);
   border-top: 1px solid #ddd;
   box-shadow: 0 2px 5px #999 inset;

   &__wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;

     &Dot {
       position: absolute;
       width: calc(50% - 75px);
       display: flex;
       justify-content: flex-end;
       

       >i {
         font-size: 1em;
         color: rgb(69, 69, 69);
       }
     }

     &Txt {
       display: flex;
       justify-content: center;
       width: 100%;
       position: relative;

       >p {
         font-size: 1em;
         font-weight: bold;
         color: rgb(69, 69, 69);
       }
     }
   }
}

