/**/

$breakpoints: (mobile:768px, tablette:991px, desktop:992px);

$primary: #111;
$secondary: #222;
$ternary: #333;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$grey-color:rgb(245, 245, 245);
$police-logo_titles: 'Shrikhand', 'cursive';
$police-txt: 'Roboto', 'sans-serif';